BACKUP_CRON_EXPRESSION: "0 0 * * *"
BACKUP_FILENAME: "backup-db-%Y-%m-%dT%H-%M-%S.tar.gz"
BACKUP_RETENTION_DAYS: "30"

# AWS_ACCESS_KEY_ID: "<YOUR_ACCESS_KEY>"
# AWS_SECRET_ACCESS_KEY: "<YOUR_SECRET_KEY>"
# AWS_S3_BUCKET_NAME: "my-backups"